{% extends 'base.html.twig' %}

{% block main %}

	<!-- ======= Portfolio Section ======= -->
	<section id="portfolio" class="portfolio section-bg">
		<div class="container">

			<div class="section-title">
				<h2>Seccions</h2>
				<p>Descobreix les nostres seccions amb productes, ofertes i novetats organitzades perquè trobes fàcilment tot el que necessites.</p>
			</div>

			{# <div class="row" data-aos="fade-up">
												<div class="col-lg-12 d-flex justify-content-center">
													<ul id="portfolio-flters">
														<li data-filter="*" class="filter-active">All</li>
														<li data-filter=".filter-app">App</li>
														<li data-filter=".filter-card">Card</li>
														<li data-filter=".filter-web">Web</li>
													</ul>
												</div>
											</div> #}
			<!-- Formulario de búsqueda -->
			<form method="GET" action="{{ path('buscar_seccio') }}" class="mb-4">
				<div class="row">
					<div class="col-12 col-md-8">
						<input type="text" name="text" value="{{ text_busqueda }}" class="form-control" placeholder="Buscar sección...">
					</div>
					<div class="col-12 col-md-4">
						<button type="submit" class="btn btn-primary w-100">Buscar</button>
					</div>
				</div>
			</form>

			<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
				{% if seccions is not empty %}
					{% for seccio in seccions %}
						<div class="col-lg-4 col-md-6 portfolio-item filter-app">
							<div class="portfolio-wrap">
								<h2 class="text-dark">{{seccio.nom}}</h2>
								<img src="{{ asset('assets/img/portfolio/' ~ seccio.imatge) }}" class="img-fluid" alt="">
								<div class="portfolio-links">
									<a href="{{ asset('assets/img/portfolio/' ~ seccio.imatge) }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1">
										<i class="bi bi-pencil-square"></i>
									</a>
									<a href="{{ path('details', { codi: seccio.codi }) }}" title="More Details">
										<i class="bi bi-cart4"></i>
									</a>
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<p>No se encontraron secciones".</p>
				{% endif %}
			</div>
		</section>
		<!-- End Portfolio Section -->

	{% endblock %}
